<% if params[:course_id] %>
<h1>New Lecture</h1>

<%= render 'form', :course_id => params[:course_id] %>

<%= link_to 'Back', course_path(:id=>params[:course_id]), class:"btn btn-info"%>

<% end %>
<div style="height: 50px;"></div>